.flex-container1 div
{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1000px;
    height: 250px;
}

.flex-container1
{
    background-color: #1F2937;
}

img
{
    height: 25%;
    width: 25%;
    
    margin-left: 70%;
    position: absolute;
    top: 80px;
}

.flex-container2 div
{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 250px;
}

.flex-container2
{
    background-color: white;
}

.flex-container3 div
{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 250px;
    text-align: center;
}

.flex-container3
{
    background-color: #E5E7EB;
}