body
{
    margin: 0;
    padding: 0;
}

.flex-container1 div
{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1000px;
    height: 350px;
}

.flex-container1
{
    background-color: #1F2937;
}

img
{
    height: 25%;
    width: 25%;
    margin-left: 70%;
    position: absolute;
    top: 80px;
}

.b
{
    font-size: 24px;
    color: white;
    
}

.sp
{
    color:#1F2937;
    font-weight: 200;
    font-size: 16px;
}

#flex-sub
{
    display: flex;
    width: 844px;
    height: 170px;
    margin-left: 20%;
    background-color: #3882F6;
    border-radius: 25px;
    padding-left: 50px;
    font-size: 18px;
}

button
{
    border-color: white;
    background-color: #3882F6;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    color: white;
    margin-left: auto;
    margin-right: 80px;
}

#flex-small-container
{
    height: 140px;
    padding: 16px;
    background: plum;
    border: 4px solid indigo;
    display: flex;
    flex-direction: column;
}

.item_for_container
{
    width: 60px;
    height: 60px;
    border: 4px solid darkslategray;
    background: skyblue;
    flex-direction: column;
}

.flex-container2 div
{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 250px;
}

.flex-container2
{
    background-color: white;
}

.flex-container3 div
{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 250px;
    text-align: center;
    top: 100px;
    left: 80%;
}

p
{
    font-size: 36px;
    color: #1F2937;
}


.flex-container3
{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer
{
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 16px;
}