body
{
    margin: 0;
    padding: 0;
}


.flex-container1 div
{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1000px;
    height: 200px;
}

.flex-container1
{
    background-color: #1F2937;
}

img
{
    height: 25%;
    width: 25%;
    margin-left: 70%;
    position: absolute;
    top: 125px;
}

.first_bird
{
    width: 75px;
    height: 75px;
    top: -450px;
    right: 80px;
    border-radius: 50%;
    position: relative;
}

.second_bird
{
    width: 15%;
    height: 170px;
    display: block;
    position: absolute;
    right: 10px;
    top: 450px;
}

.third_bird
{
    width: 15%;
    height: 170px;
    display: block;
    position: absolute;
    right: 1010px;
    top: 450px;
}

.fourth_bird
{
    width: 15%;
    height: 170px;
    display: block;
    position: absolute;
    right: 720px;
    top: 450px;
}

.fifth_bird
{
    width: 15%;
    height: 170px;
    display: block;
    position: absolute;
    right: 360px;
    top: 450px;
}

.sixth_bird
{
    width: 15%;
    height: 170px;
    display: block;
    position: absolute;
    right: 710px;
    top: 450px;
}

.b
{
    font-size: 24px;
    color: white;
}

.sp
{
    color:#1F2937;
    font-weight: 200;
    font-size: 16px;
}

#flex-sub
{
    display: flex;
    width: 844px;
    height: 170px;
    margin-left: 20%;
    background-color: #3882F6;
    border-radius: 25px;
    padding-left: 50px;
    font-size: 18px;
}

button
{
    border-color: white;
    background-color: #3882F6;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    color: white;
    margin-left: auto;
    margin-right: 80px;
}

#flex-small-container
{
    height: 250px;
    padding: 16px;
    background: white;
    border: 4px solid white;
    display: flex;
    gap: 250px;
    justify-content: space-evenly;
}

.item_for_container
{
    width: 150px;
    height: 150px;
    border: 4px solid white;
    background: white;
}

.flex-container2 div
{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 250px;
}

.flex-container2
{
    background-color: white;
}

.flex-container3 div
{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 250px;
    text-align: center;
    top: 100px;
    left: 80%;
}

p
{
    font-size: 36px;
    color: #1F2937;
}


.flex-container3
{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer
{
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 16px;
}