body
{
    background-color: #1e0a2f;
}

.flex-container1 div
{
    background: #8657eb;
    border: 6px solid #1e0a2f;
    height: 302.5px;
    flex-direction: column;
}

img
{
    width: 325px;
    height: 302.5px;
    padding-left: 0%;
}

.flex-container2 div
{
    background: #B964e8;
    border: 6px solid #1e0a2f;
    height: 302.5px;
    flex-direction: column;
}

.flex-container3 div
{
    background: #ea458f;
    border: 6px solid #1e0a2f;
    height: 302.5px;
    flex-direction: column;
}

.flex-container4 div
{
    background: #6465e8;
    border: 6px solid #1e0a2f;
    height: 302.5px;
    flex-direction: column;
}
