body
{
    margin: 0;
    padding: 0;
}

.top_right_links
{
    position: absolute;
    top: 10px;
    right: 10px;
}

.flex-container1 div
{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    margin-top: -50px;
    align-items: center;
    width: 1000px;
    height: 200px;
    position: relative;
}

.flex-container1
{
    background-color: #1F2937;
}

img.first
{
    height: 25%;
    width: 25%;
    margin-left: 65%;
    
    position: relative;
    top: -180px;
}

img.second
{
    height: 80%;
    width: 80%;
    margin-left: 0%;
    margin-top: 0px;
    display: flex;
    top: 125px;
}


.first_bird
{
    width: 75px;
    height: 75px;
    top: -450px;
    right: 20px;
    border-radius: 50%;
    display: flex;
    
}

.container
{
    display: flex;
    justify-content: center;
    gap: 150px;
    height: auto;
    background: white;
    border: 4px solid white;
}

.info
{
    max-width: 400px;
    margin-left: 0%;
}

.b
{
    font-size: 24px;
    color: white;
}

.sp
{
    color:#1F2937;
    font-weight: 200;
    font-size: 16px;
}

#flex-sub
{
    display: flex;
    width: 844px;
    height: 170px;
    margin-left: 20%;
    background-color: #3882F6;
    border-radius: 25px;
    padding-left: 50px;
    font-size: 18px;
}

button
{
    border-color: white;
    background-color: #3882F6;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    color: white;
    margin-left: auto;
    margin-right: 80px;
}

.pink_icon
{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    right: 450px;
}

#flex-small-container
{
    height: 250px;
    padding: 16px;
    background: white;
    border: 4px solid white;
    display: flex;
    gap: 250px;
    justify-content: space-evenly;
}
.left_text
{
    margin-right: 120px;
}

.left_text p.title
{
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.left_text p.smaller_text
{
    color: white;
    font-size: 16px;
    
}

.text_container
{
    display: flex;
    flex-direction: column;
}

.text_container p
{
    display: block;
    margin: 0;
}

.flex-container2 div
{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 250px;
}

.flex-container2
{
    background-color: white;
}

.flex-container3 div
{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 250px;
    text-align: center;
    top: 100px;
    left: 80%;
}

p
{
    font-size: 36px;
    color: #1F2937;
}


.flex-container3
{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer
{
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 16px;
}