.flex-container1 div
{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1000px;
    height: 250px;
}

.flex-container1
{
    background-color: #1F2937;
}

img
{
    height: 25%;
    width: 25%;
    
    margin-left: 70%;
    position: absolute;
    top: 80px;
}

#flex-sub
{
    display: flex;
    width: 844px;
    height: 170px;
    margin-left: 20%;
    background-color: #3882F6;
    border-radius: 25px;
}

button
{
    border-color: white;
    background-color: #3882F6;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    color: white;
    margin-left: auto;
    margin-right: 80px;
}

#flex-container2-items
{
    width: 250px;
    height: 250px;
    margin-bottom: 50%;
    border: 4px solid #3882F6;
    background-color: white;
}

.flex-container2 div
{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 250px;
}

.flex-container2
{
    background-color: white;
}

.flex-container3 div
{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 250px;
    text-align: center;
    top: 100px;
    left: 80%;
}

p
{
    font-size: 36px;
    color: #1F2937;
    justify-content: center;
    align-items: center;
}


.flex-container3
{
    background-color: #E5E7EB;
}